@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand&display=swap');

:root {
    --primary: #8CC0DE;
    --secondary: #0aadff;



}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color:#000000
}

body {
    font-family: "Open Sans", sans-serif;
    padding: 0px;
    
    color: #000000;
}

.active {
    
    border-radius: 5px;
    padding: 10px;
    transition: 0.3s;
    color: rgb(0, 0, 0);
}


.p {
    margin: 20px;
    padding: 20px 0px;
    font-size: 20px;
    font-size: 40px;
}



 .container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1600px;
    padding: 20px 30px;
    color: #000000;
    border-radius: 10px;
    box-shadow: 1px 9px 6px rgba(0, 0, 0, 0.1);
     max-width: 99%;
    margin: 30px auto;
}



header nav a {
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: 600;

}


main {


    padding: 20px 0px;
    
 
    border-radius: 10px;
}

#help-layout {
    padding-left: 30px;
}


#about {
    padding-left: 30px;
}

#courses {
    padding-left: 30px;
}
















/* AuthSliderPage.css */

  

  

/* Main container */
.courses-container {
  margin-bottom: 20px;
}

/* Admin message styling */
.admin-message {
  margin-bottom: 15px;
  color: green;
  font-weight: bold;
}
